<div class="card" tabindex="0">
  <div (click)="alertCall(movie?.movieName)" class="card-container">
    <img class="card-poster" [src]="movie?.imageSrc">
    <div class="card-descr">
      <span class="card-title" (click)="alertCall(movie?.descr)">{{ movie?.movieName }}</span>
      <span> Режиссер: {{ movie?.director }}</span>
      <div class="card-year">
        <span>{{ movie?.year }}</span>
        <div>Кинопоиск: <span class="card-rating">{{ movie?.rating }}</span></div>
      </div>
    </div>
  </div>
</div>
