<div class="card" tabindex="0">
  <div (click)="alertCall($event, movie.movieName)" class="card-container">
    <div class="card-poster-container">
      <img class="card-poster" [src]="movie.imageSrc">
    </div> 
    <div class="card-descr">
      <span class="card-title" (click)="alertCall($event, movie.descr);">{{ movie.movieName }}</span>
      <span> Режиссер: {{ movie.director }}</span>
      <div class="card-year">
        <span>{{ movie.year }}</span>
        <div>Кинопоиск: <span class="card-rating">{{ movie.rating }}</span></div>
        <div class="fav">
          <input
            type="checkbox"
            [checked]="movie.fav"
            (click)="favToggle($event, movie);">
          <label>Избранное</label>
        </div>
      </div>
    </div>
  </div>
</div>
